name: Tests

on:
  pull_request:
    branches:
      - main
      - releases/**
  push:
    branches:
      - main
      - releases/**
  workflow_dispatch:

jobs:
  acceptance-test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        compiler: [gfortran]
        comm: [mpiuni]
        version: [latest]
        esmpy: [true]
        cache: [true]
        include:
          - os: ubuntu-latest
            netcdf: nc-config
          - os: macos-latest
            netcdf: nc-config
    runs-on: ${{matrix.os}}
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3
    - name: Package Install (Linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get -qq -y update
        sudo apt -qq install libnetcdf-dev libnetcdff-dev
    - name: Package Install (macOS)
      if: runner.os == 'macOS'
      run: |
        ln -fs `which gcc-11` /usr/local/bin/gcc
        ln -fs `which g++-11` /usr/local/bin/g++
        ln -fs `which gfortran-11` /usr/local/bin/gfortran
        brew install netcdf netcdf-fortran
    - name: Install ESMF
      uses: ./
      env:
        ESMF_COMPILER: ${{matrix.compiler}}
        ESMF_COMM: ${{matrix.comm}}
        ESMF_NETCDF: ${{matrix.netcdf}}
      with:
        version: ${{matrix.version}}
        esmpy: ${{matrix.esmpy}}
        cache: ${{matrix.cache}}
    - name: Print ESMF Info
      run: |
        cat ${ESMFMKFILE}
    - name: Check esmpy
      if: ${{matrix.esmpy}}
      run: python3 __tests__/esmpy_test.py
